<footer>
  <div class="wrapper">
    <div class="about">
      <div class="title">About</div>
        This is an example of using LOT Open API.<br>
        It's an easy way to get flights data from Polish Airlines LOT.<br>
        Create your solution with us!<br>
      <div class="social">
        <a class="github" href="https://github.com/lot-dev/api" target="_blank"></a>
        <span>More details can be found on our <a href="https://github.com/lot-dev/api" target="_blank">GitHub</a>.</span>
      </div>
    </div>
    <div class="links">
      <div class="box">
        <div class="title">Inspirations</div>
        <div class="boxrow">Places</div>
        <div class="boxrow">Callendar</div>
      </div>
      <div class="box">
        <div class="title">Contact us</div>
        <div class="boxrow"><a href="mailto:sales@lot.com">Sales / Marketing</a></div>
        <div class="boxrow"><span>+48 22 577 77 55</span></div>
        <div class="boxrow"><a href="https://www.lot.com" target="_blank">www.lot.com</a></div>
      </div>
    </div>
  </div>
  <div class="copyrights">&copy; 2019, Polish Airlines LOT SA</div>
</footer>
