$site-width: 85%;
$site-width-tablet: 95%;
$site-width-max: 900px;
$site-color: #3f51b5;
$mobile-width: 400px;
$tablet-width: 650px;
$blue-light-color: #2775b1;
$background-color: #272727;
$error-color: #F44336;
