<header>
  <a href="http://www.lot.com"></a>
  <section class=language>
    <div class="title">Poland | PLN</div>
  </section>
</header>
<main>
  <section class="search-form">
    <mat-tab-group mat-align-tabs="end"
      (selectedTabChange)="changedTab($event)" [(selectedIndex)]="selectedTabIndex">
      <mat-tab label="I figure out my journey">
        <search-form class="tab-content"></search-form>
      </mat-tab>
      <mat-tab label="Why would I love to travel?">
        <content-history class="tab-content"></content-history>
      </mat-tab>
    </mat-tab-group>
  </section>
  <!--section class="transparent">
  </section!-->


<search-results></search-results>
</main>
<app-footer></app-footer>
