@import "../root/config.style";

mat-form-field {
  margin: 5px 1%;
  width: 48%;
}

::ng-deep mat-option {
  .mat-option-text {
    span {
      float: right;
      color: #888;
    }
  }
}

.flight-options {
  width: 98%;
  margin: auto;
  mat-form-field {
    margin: 5px 1%;
    width: 18%;
  }
  mat-expansion-panel {
    box-shadow: none;
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 5px;
    &:hover {
      border: 1px solid #000;
    }
    .mat-expansion-panel-header {
      background: transparent;
    }
  }
}

mat-progress-bar {
  width: 98%;
  margin: 10px auto 0;
}

.search-button {
  width: 98%;
  text-align: right;
  button {
    margin: 25px -1% 0;
    font-size: 1.2em;
    padding: 5px 25px;
  }
}

.error {
  bottom: 20px;
  text-align: center;
  width: 75%;
  position: absolute;
  color: $error-color;
  mat-icon {
    vertical-align: text-bottom;
  }
  span {
    font-size: 1.2em;
    padding: 0 0 0 10px;
  }
}
